body {
  background-color: white;
}

header {
    
    background-color:#283643;
    height: 250px;
    
}
.logo{
    color:white;

}
.first{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size:65px;
    padding:100px;
    padding-top:100px;
}


.nav-link{
  color:grey;
  font-family:Arial, Helvetica, sans-serif;
}

.nav-link:hover{
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}


